@model Aluno

<h1>Delete page Aluno </h1>

@*
<h3>Voce tem certeza que deseja deletar @Model.Nome ?</h3>

<a class="btn btn-primary" type="button" asp-controller="Aluno" asp-action="Index"> Não, eu desisti de deletar.</a>
<a class="btn btn-danger" type="button" asp-controller="Aluno" asp-action="DeleteAll" asp-route-id="1"> *@Sim, quero deletar </a>