@model Curso

<h3>Voce tem certeza que deseja deletar @Model.Nome ?</h3>

<a class="btn btn-primary" type="button" asp-controller="Curso" asp-action="Index"> Não, eu desisti de deletar.</a>
<a class="btn btn-danger" type="button" asp-controller="Curso" asp-action="DeleteAll" asp-route-id="@Model.Id"> Sim, quero deletar </a>