@model Curso

<h1>Editar Informação de @Model.Nome </h1>

<form asp-controller="Curso" asp-action="Alterar" method="post">
    <input type="hidden" asp-for="Id"/>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputEmail4">Curso</label>
            <input type="text" class="form-control" asp-for="Nome"  placeholder="Nome do Curso">
        </div>
        <div class="form-group col-md-6">
            <label for="inputPassword4">Disciplinas</label>
            <input type="number" class="form-control" asp-for="Disciplinas" placeholder="Digite a quantidade de  disciplinas">
        </div>
    </div>
    <div class="form-group">
        <label for="inputAddress">Professores</label>
        <input type="text" class="form-control" asp-for="Professor" placeholder="Nome do Professor Responsável">
    </div>


    <button type="submit" class="btn btn-primary">Atualizar</button>
    <a class="btn btn-secondary"  asp-controller="Curso" asp-action="Index">Voltar</a>
</form>