@model Disciplina


<h3>Você está atualizaando : @Model.Nome </h3>
    <form asp-controller="Disciplina" asp-action="Alterar" method="post">
        <input type="hidden" asp-for="@Model.Id"/>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4">Disciplina</label>
                <input type="text" class="form-control" asp-for="Nome" placeholder="Nome do Curso">
            @Html.ValidationMessageFor(x => x.Nome)

            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword4">Media</label>
                <input type="number" class="form-control" asp-for="MediaNota" value="10" placeholder="Digite as disciplinas">
            </div>
        </div>
        <div class="form-group">
            <label for="inputAddress">Professores</label>
        <input type="text" class="form-control" asp-for="Professor" placeholder="Nome do Professor">
        @Html.ValidationMessageFor(x => x.Professor)

        </div>

        <button type="submit" class="btn btn-primary">Atualizar</button>
    </form>
